*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  background-color: #fff;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}

.navbar {
  position: fixed;
  top: 0;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 30px;
  text-align: center;
  width: 100vw;
  height: 90px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.navbar .navbar-toggler {
  font-size: 2.5rem;
}

.navbar .nav-link {
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  color: #fff;
  z-index: 100;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 90%;
  background-color: #e5383b;
}

.nav-link:hover {
  color: #545454;
}

.nav-link:hover::after {
  display: block;
}

.home {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/workspace-1280538_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 50;
}

.home .bgc-shadow {
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.home .welcome {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
}

.home .welcome .welcome-text {
  text-align: center;
  color: #beb6b6;
}

.home .welcome .arrow {
  position: absolute;
  -webkit-animation: arrow 0.9s 0.5s forwards;
          animation: arrow 0.9s 0.5s forwards;
  bottom: 10%;
}

.home .welcome .arrow a {
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.home .welcome .arrow a:hover {
  color: #beb6b6;
}

.offer {
  position: relative;
  background-color: #000;
  height: 100vh;
  z-index: 49;
  overflow: hidden;
}

.offer .white-space {
  position: absolute;
  top: 0;
  background-color: white;
  width: 100vw;
  height: 50vh;
  z-index: 50;
}

@media (max-width: 400px) {
  h1 {
    font-size: 2.8rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 0 20px;
  }
  .welcome-text p {
    font-size: 1.5rem;
    width: 400px;
    padding: 0 90px;
  }
  .arrow {
    font-size: 5rem;
  }
}

@media (min-width: 400px) {
  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
  }
  .welcome-text p {
    font-size: 1.7rem;
    padding: 0 50px;
  }
  .arrow {
    font-size: 7rem;
  }
}

@media (min-width: 576px) {
  h1 {
    font-size: 3.2rem;
    text-transform: uppercase;
    color: #fff;
  }
  .welcome-text p {
    font-size: 1.9rem;
    padding: 0 100px;
  }
  .arrow {
    font-size: 8rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #fff;
  }
  .welcome-text p {
    font-size: 2rem;
    width: 500px;
  }
  .arrow {
    font-size: 9rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #fff;
  }
  .navbar .nav-link {
    background-color: transparent;
    padding-left: 50px;
  }
  .home {
    background-image: url("../img/workspace-1280538.jpg");
  }
  .home .welcome-text p {
    font-size: 2.7rem;
    width: 600px;
  }
  .home .arrow {
    font-size: 10rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
  }
  .welcome-text p {
    font-size: 3rem;
    width: 650px;
  }
  .arrow {
    font-size: 12rem;
  }
}

@media (min-width: 1400px) {
  .home {
    background-image: url("../img/workspace-1280538.jpg");
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 50;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-30 15:52:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes arrow {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */