*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  background-color: #fff;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #000;
}

.navbar {
  position: fixed;
  top: 0;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 30px;
  text-align: center;
  width: 100vw;
  height: 90px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.navbar .logo {
  width: 80px;
  height: 80px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar .logo:hover {
  width: 73px;
  height: 73px;
}

.navbar .navbar-toggler {
  color: #fff;
  font-size: 2.5rem;
}

.navbar .nav-link {
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  z-index: 100;
  color: #fff;
}

.navbar .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .social-media .social-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 3rem;
  padding: 0 20px;
}

.nav-link:hover {
  color: #545454;
}

.nav-link:hover::after {
  display: block;
}

.home {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/desk-593327_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 50;
}

.home .bgc-shadow {
  position: relative;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.home .welcome {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
}

.home .welcome .welcome-text {
  text-align: center;
  color: #beb6b6;
}

.home .welcome .arrow {
  position: absolute;
  -webkit-animation: arrow 0.9s 0.5s forwards;
          animation: arrow 0.9s 0.5s forwards;
  bottom: 10%;
}

.home .welcome .arrow a {
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.home .welcome .arrow a:hover {
  color: #eee;
}

.offer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  height: 100vh;
  z-index: 49;
  overflow: hidden;
  color: #000;
}

.offer .header {
  position: absolute;
  top: 30px;
  z-index: 500000000;
}

.offer .white-space {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  padding: 30px;
  background-color: #fff;
  width: 100vw;
  height: 50vh;
  z-index: 50;
}

.offer .white-space .offer-cards {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer .white-space .offer-cards .card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 15px;
  -webkit-box-shadow: 7px 7px 1px #545454;
          box-shadow: 7px 7px 1px #545454;
  list-style-type: none;
}

.offer .white-space .offer-cards .card1 .red {
  color: #e5383b;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.offer .white-space .offer-cards .card1 .red:hover {
  color: #cf1b1e;
}

.offer .white-space .offer-cards .card1 .cta-button {
  background-color: #e5383b;
  margin-top: 40px;
  border: transparent;
  border-radius: 15px;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.offer .white-space .offer-cards .card1 .cta-button a {
  text-decoration: none;
}

.offer .white-space .offer-cards .cta-button:hover {
  color: #000;
}

.offer .white-space .offer-cards .card2-2 i {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.offer .white-space .offer-cards .card2-2 i:hover {
  color: tomato;
}

.photos {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  z-index: 49;
  overflow: hidden;
  color: #000;
  background-color: #beb6b6;
}

.photos .header {
  position: absolute;
  top: 30px;
  z-index: 500000000;
}

.contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  z-index: 49;
  overflow: hidden;
  color: #000;
  background-color: #e5383b;
}

.contact .header {
  position: absolute;
  top: 30px;
  z-index: 500000000;
}

footer {
  height: 20vh;
  background-color: #000;
}

footer hr {
  color: main-color;
  height: 10px;
}

@media (max-width: 400px) {
  h1 {
    font-size: 2.8rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 0 20px;
  }
  .navbar-brand {
    display: none;
  }
  .welcome-text p {
    font-size: 1.5rem;
    width: 400px;
    padding: 0 90px;
  }
  .arrow {
    font-size: 5rem;
  }
  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 190vh;
  }
  .offer .header {
    position: absolute;
    top: 30px;
    z-index: 500000000;
  }
  .offer .white-space .offer-cards {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 30px;
  }
  .offer .white-space .offer-cards .card1 {
    padding: 250px 40px;
    height: 80vh;
    margin: 70px 10px 20px 10px;
    color: #fff;
    font-size: 1.2rem;
    background-color: #000;
    border-radius: 15px;
    -webkit-box-shadow: 3px 3px 1px #545454;
            box-shadow: 3px 3px 1px #545454;
    list-style-type: none;
  }
  .offer .white-space .offer-cards .card1 .red {
    color: #e5383b;
  }
  .offer .white-space .offer-cards .card1 .cta-button {
    background-color: #e5383b;
    padding: 5px 15px;
    margin-top: 40px;
    border-radius: 15px;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .offer .white-space .offer-cards .card1 .cta-button a {
    text-decoration: none;
  }
  .offer .white-space .offer-cards .cta-button:hover {
    color: #000;
  }
  .offer .card2-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    padding: 30px 40px;
    height: 80vh;
    margin: 10px 10px;
    -webkit-box-shadow: 3px 3px 1px #545454;
            box-shadow: 3px 3px 1px #545454;
    border-radius: 15px;
    overflow: hidden;
  }
  .offer .card2-2 .card2-content {
    text-align: center;
  }
  .offer .card2-2 .card2-content i {
    font-size: 4rem;
    color: #e5383b;
    text-shadow: 1px 1px 1px #000;
  }
  .offer .card2-2 .card2-content h4 {
    font-weight: bold;
  }
  .offer .card2-2 .card2-content p {
    font-size: 1.2rem;
  }
}

@media (min-width: 400px) {
  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
  }
  .navbar-brand {
    display: none;
  }
  .welcome-text p {
    font-size: 1.7rem;
    padding: 0 50px;
  }
  .arrow {
    font-size: 7rem;
  }
  .offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 180vh;
  }
  .offer .header {
    position: absolute;
    top: 30px;
    z-index: 500000000;
  }
  .offer .white-space .offer-cards {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
    top: 30px;
  }
  .offer .white-space .offer-cards .card1 {
    padding: 30px 50px;
    height: 80vh;
    width: 105vw;
    margin: 70px 20px 20px 20px;
    color: #fff;
    font-size: 1.4rem;
    background-color: #000;
    border-radius: 15px;
    -webkit-box-shadow: 3px 3px 1px #545454;
            box-shadow: 3px 3px 1px #545454;
    list-style-type: none;
  }
  .offer .white-space .offer-cards .card1 .red {
    color: #e5383b;
  }
  .offer .white-space .offer-cards .card1 .cta-button {
    background-color: #e5383b;
    padding: 5px 15px;
    margin-top: 40px;
    border-radius: 15px;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .offer .white-space .offer-cards .card1 .cta-button a {
    text-decoration: none;
  }
  .offer .white-space .offer-cards .cta-button:hover {
    color: #000;
  }
  .offer .card2-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    padding: 30px 50px;
    height: 80vh;
    width: 105vw;
    -webkit-box-shadow: 3px 3px 1px #545454;
            box-shadow: 3px 3px 1px #545454;
    border-radius: 15px;
    overflow: hidden;
  }
  .offer .card2-2 .card2-content {
    text-align: center;
  }
  .offer .card2-2 .card2-content i {
    font-size: 4rem;
    color: #e5383b;
    text-shadow: 1px 1px 1px #000;
  }
  .offer .card2-2 .card2-content h4 {
    font-size: 1.7rem;
    font-weight: bold;
  }
  .offer .card2-2 .card2-content p {
    font-size: 1.4rem;
  }
}

@media (min-width: 576px) {
  h1 {
    font-size: 3.2rem;
    text-transform: uppercase;
    color: #fff;
  }
  .welcome-text p {
    font-size: 1.9rem;
    padding: 0 100px;
  }
  .arrow {
    font-size: 8rem;
  }
}

.offer-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer-cards .card1,
.offer-cards .card2-2 {
  width: 105vw;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #fff;
  }
  .welcome-text p {
    font-size: 2rem;
    width: 500px;
  }
  .arrow {
    font-size: 9rem;
  }
  .offer {
    height: 180vh;
  }
  .offer .offer-cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .offer .offer-cards .card1 p,
  .offer .offer-cards .card1 li {
    padding: 0 50px;
    font-size: 1.7rem;
    line-height: 35px;
  }
  .offer .offer-cards .card1 h3 {
    font-size: 2.5rem;
    padding-bottom: 30px;
  }
  .offer .offer-cards .card1 .cta-button {
    background-color: #e5383b;
    padding: 15px 25px;
    width: 200px;
    height: 50px;
    font-size: 2rem;
    margin-top: 40px;
    border-radius: 15px;
    color: #fff;
  }
  .offer .offer-cards .card2-2 h4 {
    font-size: 2.2rem;
  }
  .offer .offer-cards .card2-2 p {
    font-size: 1.7rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand {
    display: none;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: #fff;
  }
  .navbar .navbar-brand {
    display: block;
  }
  .navbar .nav-link {
    background-color: transparent;
    padding-left: 50px;
  }
  .navbar .home-link {
    display: none;
  }
  .home {
    background-image: url("../img/desk-593327_1920.jpg");
  }
  .home .welcome-text p {
    font-size: 2.7rem;
    width: 600px;
  }
  .home .arrow {
    font-size: 10rem;
  }
  .offer {
    height: 175vh;
  }
  .offer .offer-cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .offer .offer-cards .card1,
  .offer .offer-cards .card2-2 {
    padding: 50px 200px;
  }
  .offer .offer-cards .card1 i,
  .offer .offer-cards .card2-2 i {
    font-size: 6rem;
  }
  .offer .offer-cards .card1 h4,
  .offer .offer-cards .card2-2 h4 {
    font-size: 2.2rem;
  }
  .offer .offer-cards .card1 p,
  .offer .offer-cards .card2-2 p {
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff !important;
  }
  .welcome-text p {
    font-size: 3rem;
    width: 650px;
  }
  .arrow {
    font-size: 12rem;
  }
  .offer {
    height: 95vh;
  }
  .offer .white-space .offer-cards {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 100px;
    padding: 0;
  }
  .offer .white-space .offer-cards p {
    font-size: 1.6rem;
  }
  .offer .white-space .offer-cards h3 {
    font-size: 1.8rem;
  }
  .offer .white-space .offer-cards li {
    font-size: 1.6rem;
  }
  .offer .white-space .offer-cards .card1 {
    height: 70vh;
    max-width: 500px;
    margin: 0 0 0 100px;
    padding: 100px 30px;
  }
  .offer .white-space .offer-cards .card2-2 {
    height: 70vh;
    max-width: 500px;
    margin: 30px 100px 30px 0;
    padding: 0 20px;
  }
}

@media (min-width: 768px) and (min-width: 1400px) {
  .home {
    background-image: url("../img/desk-593327.jpg");
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 50;
  }
  .offer .white-space .offer-cards {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 100px;
    padding: 0;
  }
  .offer .white-space .offer-cards p {
    font-size: 1.6rem;
  }
  .offer .white-space .offer-cards h3 {
    font-size: 1.8rem;
  }
  .offer .white-space .offer-cards li {
    font-size: 1.6rem;
  }
  .offer .white-space .offer-cards .card1 {
    height: 70vh;
    max-width: 500px;
    margin: 0 0 0 100px;
    padding: 100px 30px;
  }
  .offer .white-space .offer-cards .card2-2 {
    height: 70vh;
    max-width: 500px;
    margin: 30px 100px 30px 0;
  }
}

@media (min-width: 768px) {
  /* ----------------------------------------------
 * Generated by Animista on 2022-4-30 15:52:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
  @-webkit-keyframes arrow {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes arrow {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
}
/*# sourceMappingURL=main.css.map */