$main-color: #e5383b;
$main-dark: #cf1b1e;
$pure-white: #fff;
// $light-white: #eae8e8;
$light-white: #f6f7f7;
$black-color: #000;
$half-black: #161414;
$grey-color: #545454;
$shadow-color: #beb6b6;
$dark: #2e2e2e;
