@import "./colors";

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 90px;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1rem;
	background-color: $pure-white;
}

h1 {
	font-size: 2rem;
	text-transform: uppercase;
	color: $pure-white;
}

h2 {
	font-size: 4rem;
	text-transform: uppercase;
	color: $black-color;
}
hr {
}

.navbar {
	position: fixed;
	top: 0;
	font-size: 2rem;
	text-transform: uppercase;
	padding: 30px;
	text-align: center;
	width: 100vw;
	height: 90px;
	color: #fff;
	background-color: rgba($black-color, $alpha: 0.7);
	z-index: 1000;

	.logo {
		width: 90px;
		height: 90px;
	}

	.navbar-toggler {
		color: $pure-white;
		font-size: 2.5rem;
	}

	.nav-link {
		position: absolute;
		left: 0;
		background-color: rgba($black-color, $alpha: 0.9);
		position: relative;
		z-index: 100;
		color: $pure-white;
	}

	// .nav-link::after {
	// 	content: "";
	// 	position: absolute;
	// 	bottom: 0;
	// 	height: 3px;
	// 	width: 100px;
	// 	background-color: $main-color;
	// 	display: none;
	// }

	.social-media {
		display: flex;
		.social-icon {
			justify-content: center;
			align-items: center;
			text-align: center;
			font-size: 3rem;
			padding: 0 20px;
		}
	}
}

.nav-link:hover {
	color: $grey-color;
}

.nav-link:hover::after {
	display: block;
}

.home {
	position: relative;
	height: 100vh;
	overflow: hidden;
	background-image: url("../img/workspace-1280538_640.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	z-index: 50;

	.bgc-shadow {
		position: relative;
		height: 100vh;
		background-color: rgba($black-color, $alpha: 0.5);
		z-index: 100;
	}

	.welcome {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		top: 0;
		width: 100vw;
		height: 100vh;
		z-index: 1001;

		.welcome-text {
			text-align: center;
			color: $shadow-color;
		}

		.arrow {
			position: absolute;
			animation: arrow 0.9s 0.5s forwards;
			bottom: 10%;

			a {
				color: $pure-white;
				transition: 0.2s;
			}

			a:hover {
				color: $shadow-color;
			}
		}
	}
}

.offer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $black-color;
	height: 100vh;
	z-index: 49;
	overflow: hidden;
	color: $black-color;

	.header {
		position: absolute;
		top: 30px;
		z-index: 500000000;
	}

	.white-space {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		top: 0;
		padding: 30px;
		background-color: $pure-white;
		width: 100vw;
		height: 50vh;
		z-index: 50;

		.offer-cards {
			position: absolute;
			display: flex;
			justify-content: space-around;
			align-content: center;
			// height: 120%;
			// bottom: -60%;
			// border: 1px solid red;

			.card1 {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				text-align: center;
				padding: 10px 50px;
				color: $pure-white;
				background-color: $black-color;
				border-radius: 15px;
				box-shadow: 7px 7px 1px $grey-color;
				list-style-type: none;

				.red {
					color: $main-color;
				}

				.cta-button {
					background-color: $main-color;
					margin-top: 40px;
					border: transparent;
					border-radius: 15px;
					color: $pure-white;
					transition: color 0.2s;

					a {
						text-decoration: none;
					}
				}
			}
			.cta-button:hover {
				color: $black-color;
			}

			// .card2-1 {
			// 	display: flex;
			// 	justify-content: center;
			// 	align-items: center;
			// 	background-color: $light-white;
			// 	border-radius: 15px;
			// 	overflow: hidden;

			// 	.carousel-item {
			// 		height: 600px;

			// 		img {
			// 			height: 450px;
			// 		}
			// 	}
			// }
		}
	}
}

.photos {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	z-index: 49;
	overflow: hidden;
	color: $black-color;
	background-color: $shadow-color;

	.header {
		position: absolute;
		top: 30px;
		z-index: 500000000;
	}
}

.contact {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	z-index: 49;
	overflow: hidden;
	color: $black-color;
	background-color: $main-color;

	.header {
		position: absolute;
		top: 30px;
		z-index: 500000000;
	}
}

footer {
	height: 20vh;
	background-color: $black-color;

	hr {
		color: main-color;
		height: 10px;
	}
}

// MEDIA ---------------------------------------------------------------------

@media (max-width: 400px) {
	h1 {
		font-size: 2.8rem;
		text-transform: uppercase;
		color: $pure-white;
		text-align: center;
		padding: 0 20px;
	}

	.welcome-text {
		p {
			font-size: 1.5rem;
			width: 400px;
			padding: 0 90px;
		}
	}
	.arrow {
		font-size: 5rem;
	}

	.offer {
		flex-direction: column;
		height: 200vh;

		.header {
			position: absolute;
			top: 30px;
			z-index: 500000000;
			// display: none;
		}

		.white-space {
			.offer-cards {
				position: absolute;
				display: flex;
				justify-content: space-around;
				align-content: center;
				flex-direction: column;
				top: 30px;
				// height: 120%;
				// bottom: -60%;
				// border: 1px solid red;

				.card1 {
					padding: 250px 40px;
					height: 80vh;
					margin: 70px 10px 20px 10px;
					color: $pure-white;
					font-size: 1.2rem;
					background-color: $black-color;
					border-radius: 15px;
					box-shadow: 3px 3px 1px $grey-color;
					// font-size: 1.5rem;
					// width: 400px;
					list-style-type: none;

					.red {
						color: $main-color;
					}

					.cta-button {
						background-color: $main-color;
						// width: 150px;
						// height: 40px;
						padding: 5px 15px;
						margin-top: 40px;
						border-radius: 15px;
						color: $pure-white;
						transition: color 0.2s;

						a {
							text-decoration: none;
						}
					}
				}
				.cta-button:hover {
					color: $black-color;
				}
			}
		}
		.card2-1 {
			padding: 30px 20px;
			height: 80vh;
			margin: 10px 10px;
			box-shadow: 3px 3px 1px $grey-color;
			display: none;
		}

		.card2-2 {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: column;
			background-color: $pure-white;
			padding: 30px 40px;
			height: 80vh;
			margin: 10px 10px;
			box-shadow: 3px 3px 1px $grey-color;
			border-radius: 15px;
			overflow: hidden;

			.card2-content {
				text-align: center;

				i {
					font-size: 4rem;
					color: $main-color;
					text-shadow: 1px 1px 1px $black-color;
				}

				h4 {
					font-weight: bold;
				}

				p {
					font-size: 1.2rem;
				}
			}
		}
	}
}

@media (min-width: 400px) {
	h1 {
		font-size: 3rem;
		text-transform: uppercase;
		color: $pure-white;
	}

	.welcome-text {
		p {
			font-size: 1.7rem;
			padding: 0 50px;
		}
	}

	.arrow {
		font-size: 7rem;
	}

	.offer {
		flex-direction: column;
		height: 200vh;

		.header {
			position: absolute;
			top: 30px;
			z-index: 500000000;
			// display: none;
		}

		.white-space {
			.offer-cards {
				position: absolute;
				display: flex;
				justify-content: space-around;
				align-content: center;
				flex-direction: column;
				top: 30px;
				// height: 120%;
				// bottom: -60%;
				// border: 1px solid red;

				.card1 {
					padding: 30px 50px;
					height: 80vh;
					width: 105vw;
					margin: 70px 20px 20px 20px;
					color: $pure-white;
					font-size: 1.4rem;
					background-color: $black-color;
					border-radius: 15px;
					box-shadow: 3px 3px 1px $grey-color;

					list-style-type: none;

					.red {
						color: $main-color;
					}

					.cta-button {
						background-color: $main-color;
						padding: 5px 15px;
						margin-top: 40px;
						border-radius: 15px;
						color: $pure-white;
						transition: color 0.2s;

						a {
							text-decoration: none;
						}
					}
				}
				.cta-button:hover {
					color: $black-color;
				}
			}
		}
		.card2-1 {
			padding: 30px 20px;
			height: 80vh;
			margin: 10px 10px;
			box-shadow: 3px 3px 1px $grey-color;
			display: none;
		}

		.card2-2 {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: column;
			background-color: $pure-white;
			padding: 30px 50px;
			height: 80vh;
			width: 105vw;
			// margin: 10px 10px;
			box-shadow: 3px 3px 1px $grey-color;
			border-radius: 15px;
			overflow: hidden;

			.card2-content {
				text-align: center;

				i {
					font-size: 4rem;
					color: $main-color;
					text-shadow: 1px 1px 1px $black-color;
				}

				h4 {
					font-size: 1.7rem;
					font-weight: bold;
				}

				p {
					font-size: 1.4rem;
				}
			}
		}
	}
}

@media (min-width: 576px) {
	h1 {
		font-size: 3.2rem;
		text-transform: uppercase;
		color: $pure-white;
	}

	.welcome-text {
		p {
			font-size: 1.9rem;
			padding: 0 100px;
		}
	}

	.arrow {
		font-size: 8rem;
	}
}

.offer-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	.card1,
	.card2-2 {
		width: 105vw;
	}
}

@media (min-width: 768px) {
	h1 {
		font-size: 3.5rem;
		text-transform: uppercase;
		color: $pure-white;
	}

	.welcome-text {
		p {
			font-size: 2rem;
			width: 500px;
		}
	}

	.arrow {
		font-size: 9rem;
	}

	.offer {
		.offer-cards {
			flex-direction: row;

			.card1 {
				p,
				li {
					padding: 0 50px;
					font-size: 1.7rem;
					line-height: 35px;
				}
				h3 {
					font-size: 2.5rem;
					padding-bottom: 30px;
				}

				.cta-button {
					background-color: $main-color;
					padding: 15px 25px;
					width: 200px;
					height: 50px;
					font-size: 2rem;
					margin-top: 40px;
					border-radius: 15px;
					color: $pure-white;
				}
			}
		}
	}

	@media (max-width: 991px) {
		.navbar-brand {
			display: none;
		}
	}

	@media (min-width: 992px) {
		h1 {
			font-size: 4.5rem;
			text-transform: uppercase;
			color: $pure-white;
		}

		.navbar {
			.nav-link {
				background-color: transparent;
				padding-left: 50px;
			}

			.home-link {
				display: none;
			}
		}
		.home {
			background-image: url("../img/workspace-1280538.jpg");

			.welcome-text {
				p {
					font-size: 2.7rem;
					width: 600px;
				}
			}

			.arrow {
				font-size: 10rem;
			}
		}

		.offer {
			.offer-cards {
				flex-direction: row;

				.card1 {
				}
			}
		}
	}
	@media (min-width: 1200px) {
		h1 {
			font-size: 5rem;
			text-transform: uppercase;
			color: $pure-white !important;
		}

		.welcome-text {
			p {
				font-size: 3rem;
				width: 650px;
			}
		}

		.arrow {
			font-size: 12rem;
		}
	}
	@media (min-width: 1400px) {
		.home {
			background-image: url("../img/workspace-1280538.jpg");
			position: relative;
			height: 100vh;
			overflow: hidden;
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			z-index: 50;
		}
	}

	/* ----------------------------------------------
 * Generated by Animista on 2022-4-30 15:52:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

	@keyframes arrow {
		0% {
			transform: translateY(-45px);
			animation-timing-function: ease-in;
			opacity: 1;
		}
		24% {
			opacity: 1;
		}
		40% {
			transform: translateY(-24px);
			animation-timing-function: ease-in;
		}
		65% {
			transform: translateY(-12px);
			animation-timing-function: ease-in;
		}
		82% {
			transform: translateY(-6px);
			animation-timing-function: ease-in;
		}
		93% {
			transform: translateY(-4px);
			animation-timing-function: ease-in;
		}
		25%,
		55%,
		75%,
		87% {
			transform: translateY(0);
			animation-timing-function: ease-out;
		}
		100% {
			transform: translateY(0);
			animation-timing-function: ease-out;
			opacity: 1;
		}
	}
}
